<h1><?php echo h($user['User']['username']); ?></h1>

<p><small>Email: <?php echo $user['User']['email']; ?></small></p>
<p><small>Role: <?php echo $user['User']['role']; ?></small></p>
<p><small>Created At:: <?php echo $user['User']['created']; ?></small></p>
